body {
    font-family: 'Montserrat', sans-serif;
    background: #1e293b;
    color: #f8fafc;
}

.container {
    padding-top: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-bottom: 40px;
}

.rolodex {
    display: inline-flex;
    flex-direction: row;
    position: relative;
    flex-wrap: wrap;
    align-content: center;
    column-gap: 50px;
    row-gap: 50px;
    padding: 25px 5vw 40px;
}

.card {
    background: rgba(255, 255, 255, 0.2);
    max-width: 25vw;
    border-radius: 16px;
    box-shadow: 0 4px 30px #465975;
    padding: 15px;
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid #506685;
}

@media only screen and (max-device-width: 640px) {
    .card {
        max-width: 80vw;
    }

    .rolodex {
    }
}

ol {
    list-style-type: circle;
}

li:nth-child(even) {
    list-style-type: none;
    content: " ";
}

/* Cycling Text */
.app {
    min-width: 100vw;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    text-align: center;
}

header h1 {
    font-weight: 600;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
    header h1 {
        font-size: 3rem;
    }
}

header p {
    color: #94a3b8;
    margin-bottom: 0.5rem;
}

header a {
    color: #7393c1;
}

.tag-list {
    width: 30rem;
    max-width: 90vw;
    display: flex;
    flex-shrink: 0;
    flex-direction: column;
    gap: 1rem 0;
    position: relative;
    padding: 1.5rem 0;
    overflow: hidden;
}

.loop-slider .inner {
    display: flex;
    width: fit-content;
    animation-name: loop;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-duration: 10449ms;
}

.tag {
    display: flex;
    align-items: center;
    gap: 0 0.2rem;
    color: #e2e8f0;
    font-size: 0.9rem;
    background-color: #334155;
    border-radius: 0.4rem;
    padding: 0.7rem 1rem;
    margin-right: 1rem;
    box-shadow: 0 0.1rem 0.2rem #293545, 0 0.1rem 0.5rem #293545, 0 0.2rem 1.5rem #293545;
}

.tag span {
    font-size: 1.2rem;
    color: #64748b;
}

.fade {
    pointer-events: none;
    background: linear-gradient(90deg, #1e293b, transparent 30%, transparent 70%, #1e293b);
    position: absolute;
    inset: 0;
}

@keyframes loop {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-50%);
    }
}

/* Navigation Bar */
.bar {
    overflow: hidden;
    background-image: linear-gradient(#202935, #334155);
    position: fixed;
    top: 0;
    z-index: 10;
    width: 100%;
}

.bar a {
    float: left;
    display: block;
    color: #94a3b8;
    text-align: center;
    padding: 14px 16px;
    text-decoration: underline solid transparent;
    transition: text-decoration 0.6s ease;
}

.bar a:hover {
    color: #fff;
    text-decoration: underline solid #fff;
}

/* Quiz */

.quizWrapper {
    padding: 60px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#quiz {
    text-align: center;
}

#quiz p {
    font-size: 40px;
}

#question {
    text-align: center;
}

#options {
    padding-top: 20px;
    margin-top: 20px;
}

.quizButton {
    --b: 3px; /* border thickness */
    --s: .45em; /* size of the corner */
    --color: #7393c1;
    padding: calc(.5em + var(--s)) calc(.9em + var(--s));
    color: var(--color);
    --_p: var(--s);
    background: conic-gradient(from 90deg at var(--b) var(--b), #0000 90deg, var(--color) 0) var(--_p) var(--_p)/calc(100% - var(--b) - 2 * var(--_p)) calc(100% - var(--b) - 2 * var(--_p));
    transition: .3s linear, color 0s, background-color 0s;
    outline: var(--b) solid #0000;
    outline-offset: .6em;
    font-size: 30px;
    border: 0;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.quizButton:hover,
.quizButton:focus-visible {
    --_p: 0px;
    outline-color: var(--color);
    outline-offset: .05em;
}

.quizButton:active {
    background: var(--color);
    color: #fff;
}